@page "/createBookCategory"
@using Models
@using BooksStore.Service
@inject BookCategoryService BookCategoryService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<h3>添加图书分类</h3>

<div class="row">
    <div class="col-md-6">
        <EditForm EditContext="editContext" OnValidSubmit="HandleValidSubmit" class="">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">类型名称：</label>
                <div class="col-sm-9">
                    <InputText @bind-Value="bookCategory.Name" placeholder="请输入类型名称" class="form-control " />
                </div>

            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">
                    类型说明：
                </label>
                <div class="col-sm-9">
                    <InputTextArea @bind-Value="bookCategory.Remark" placeholder="请输入类型说明" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">
                    排序：
                </label>
                <div class="col-sm-9">
                    <InputNumber @bind-Value="bookCategory.Sort" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">
                    类型图片：
                </label>
                <div class="col-sm-9">
                    <input type="file" name="fileImg" id="fileImg" class="form-control" @onchange="OnChangeImg" />
                    <img src="@bookCategory.Img" height="200" alt="Image preview...">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">
                    是否热门：
                </label>
                <div class="col-sm-9">
                    <InputCheckbox @bind-Value="bookCategory.IsHot" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">
                    是否可用：
                </label>
                <div class="col-sm-9">
                    <InputCheckbox @bind-Value="bookCategory.Enabled" />
                </div>

            </div>
            <div class="form-group" disabled="@formInvalid">
                <input type="submit" value="添加" class="btn btn-primary" disabled="@formInvalid" />
                <a class="btn btn-info" href="bookCategory">返回列表</a>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private BookCategory bookCategory = new BookCategory();


    private bool formInvalid = true;
    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(bookCategory);
        editContext.OnFieldChanged += HandleFieldChanged;
    }

    private void HandleFieldChanged(object sender, FieldChangedEventArgs e)
    {
        formInvalid = !editContext.Validate();
        StateHasChanged();
    }

    public void Dispose()
    {
        editContext.OnFieldChanged -= HandleFieldChanged;
    }
    private async Task HandleValidSubmit()
    {

        if (string.IsNullOrEmpty(bookCategory.Img))
        {
           bookCategory.Img=  await JSRuntime.InvokeAsync<string>(
                  "exampleJsFunctions.getImgUrl",
                  "fileImg");
        }

        var result = await BookCategoryService.Insert(bookCategory);

        if (result > 0)
        {
            NavigationManager.NavigateTo("bookCategory");
        }
        else
        {
            await JSRuntime.InvokeAsync<bool>(
               "exampleJsFunctions.showMessage",
               "保存失败");
        }
    }

    
    /// <summary>
    /// 上传图片变化时修改预览图片
    /// </summary>
    /// <returns></returns>
    public async Task OnChangeImg()
    {

        var img = await JSRuntime.InvokeAsync<string>(
               "exampleJsFunctions.fileloaded");
    }
}
